body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 200vh;
  background-color: #2e2e2e;
}

.App {
  margin-top: 5vh;
  width: 50vw;
  height: 50vh;
}
